@import './font.css';
@import './reset.css';
@import './common.css';

#header .group-top {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px var(--common-padding);
  z-index: 20;
  /* text-shadow: #FFF 0px 0px 5px,
    #ecfb5c 0px 0px 20px,
    #ecfb5c 0px 0px 30px,
    #ecfb5c 0px 0px 40px,
    #ecfb5c 0px 0px 75px; */
}

#header .group-top.dark{
  color: var(--color-main);
}

#header h1 {
  font-family: var(--font2);
  font-size: 20px;
}


#header .nav {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  text-transform: uppercase;
  z-index: 20;
}
#header .nav .nav-list {
  font-weight: 700;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(230, 239, 239, .1);
  backdrop-filter: blur(15px);
  border-radius: 100px;
  padding:18px 33px;
  width: fit-content;
  font-size: 14px;
}
#header .nav .nav-list.dark{
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(56, 56, 56, 0.1);
}

#header .nav .nav-item {
  transition: color .3s;
}

#header .nav .nav-item.active,
#header .nav .nav-item:hover {
  color: var(--color-primary);
}

#footer {
  padding: 200px var(--common-padding);
  /* background: #252525; */
  background: var(--color-white);
  color: var(--color-main);
  overflow: hidden;
}

#footer .group-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3vw;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
#footer .group-footer .contact{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--font3);
  font-weight: bold;
  font-size: 50vw;
  opacity: .05;
}

#footer .desc{
  color: #808080;
  font-size: clamp(14px, 3vw, 20px);
}
#footer address {
  font-weight: 900;
  font-size: clamp(30px, 10vw, 110px);
  animation: flicker 3s linear infinite;
}
#footer .copyrights {
  font-size: 12px;
  color: rgba(128, 128, 128, 0.733);
  text-transform: uppercase;
}

@keyframes flicker {
  0% {opacity:0;}
  10% {opacity:.5;}
  13% {opacity:0;}
  20% {opacity:.5;}
  25% {opacity:1;}
}

@media (min-width: 700px) {
  #header h1 {
    font-size: 40px;
  }
  #header .nav {
    bottom: 50px;
  }
  #header .nav.top {
    bottom: 50px;
  }
  #header .nav .nav-list {
    font-size: 16px;
    padding: 24px 50px;
  }
  #footer .group-footer {
    width: 80%;
  }
}